/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

@import "paper/variables";
// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
//$brand-secondary: #e25139;
//$brand-success: #5cb85c;
//$brand-warning: #f0ad4e;
//$brand-danger: #d9534f;
//$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$panel-body-padding:          2px !important;

.material-icons.icon-color{
  color: #EFEFEF;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
h4{
  font-size: 20px !important;
}
#content {
  min-height:100%;
  position:relative;
}

.appContent {
  padding-bottom: 50px; /* Height of the footer element */
}

a, a:visited, a:hover {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
  cursor: hand;
}

.backgroundIcon{
  font-size: 300px !important;
}

@media(max-width: 768px) {
  .backgroundIcon {
    font-size: 200px !important;
  }
}
//@media(max-width: 768px) {
//  body {
//    background: #FEFEFE !important;
//  }
//}

abbr{ font-weight: bold; font-size: 16px; color: #666}
