.PNRStatusForm{
  margin: 0 auto;
  display: block;
  input {
    width: 250px !important;
  }
  button {
    width: 200px;
    //background: indianred;
  }
}

@media (min-width: 768px) {
  .PNRStatusForm{
    button {
      width: 200px;
      margin-left: 10px;
    }}}
