footer {
  background: #F2F2F2;
  //height: 50px;
  border-top: 1px solid #E4E4E4;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  //height: 300px;
  //position:absolute;
  padding-top: 20px;
  bottom: 0;
  left: 0;
  color: #6A7796 !important;
  .footerLinks {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    li {
      margin-top: 3px;
    }
  }
  .lastFooter {
    background: #ddd;
    ul {
      padding-top: 30px;
      list-style: none;
    }

    ul > li {
      display: inline;
      margin-left: 20px;
    }

    ul > li:first-child {
      margin-left: 0;
    }
  }

}

footer a, footer a:hover {
  color: #6A7796 !important;
}