.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #FFF url('https://res.cloudinary.com/atmed/image/upload/atmed_logo') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 100px 0 50px 0px; // for fixed navbar
}

i {
  margin-top: 20px ;
  margin-left: 20px ;
}

.loader {
  display: block;
  position: fixed;
  height: 3px;
  width: 100%;
  background: deeppink;
  z-index: 10000;
  opacity: 1;
}

.hidden {
  opacity: 0;
}