
.trainsBetweenForm{
  display: block;
  margin: 0 auto;
  input[type=text] {
    //width: 200px !important;
    //border: 1px solid #ddd;
    padding: 3px;
    //border-radius: 2px;
    //box-shadow: 0px !important;
  }
  input[type=checkbox]{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  button {
    width: 100px;
    //background: indianred;
  }
}
.trainsBetweenForm > *{
  margin: 5px;
}